@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
	line-height:1.5;
	font-family: 'Montserrat', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
	max-width:1170px;
	margin: 0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
	
}
.footer{
	background-color:#24262b;
	padding:70px 0;
}
ul{
	list-style:none;
}
.footer-col{
	width:25%;
	padding:0 15px;
}
.footer-col h4{
	font-size:18px;
	color:#fff;
	margin-bottom:35px;
	font-weight:500;
	position:relative;
}
.footer-col h4::before{
	content: '';
	position:absolute;
	left:0;
	bottom:-10px;
	background-color:lime;
	height:2px;
	box-sizing:border-box;
	width:50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom:10px;
}
.footer-col ul li a{
	font-size:16px;
	text-transform:capitalize;
	color:#fff;
	text-decoration:none;
	font-weight:300;
	color:#bbb;
	display:block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:lime; 
	padding-left:8px;
	letter-spacing:2.5px;
	
}
.footer-col .social-links a{
	display:inline-block;
	height:40px;
	width:40px;
	background-color: rgba(255,255,255,0.2);
	margin-right:0 10px 10px 0;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	color:#fff;
	transition: all 0.5s ease;
	
}
.footer-col .social-links a:hover{
	color:#24262b;
	background-color:lime;
}
.subscribeButton {
    background-color: yellow;
    padding: 10px 20px;
    font-size: 15px;
	border:none;
}
.form-control{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    background-color: #24262b;
    border-bottom: 1px solid yellow;
    outline:none;
    font-size: 14px;
    color: #555;
    display: block;
}
.width{
	width:40%;
}
.width01{
	width:30%;
}
#copy{
	text-align:center;
	color:#fff;
	font-family:none;
	padding:20px;	
	margin:auto;
}
/*Responsive*/

@media(max-width:767px){
	.footer-col{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:574px){
	.footer-col{
		width:100%;
	}
}